
body {
    background-color: #111111;
    color: #f2f2f2;
    position: relative;
}

a {
    color:#f2f2f2;
}

i {
    color:#f2f2f2;
    font-size: 2.5em;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

.home {
    background-color: #333;
    padding: 0;
}

.about {

}

.resume {
    background-color: #333;
}

.projects {

}

.contact {
    background-color: #333;
}

.social a{
    display: inline-block;
    padding: 2%;
}

.topnav {
    overflow: hidden;
    align-items: center;
    padding: 0;
}

.topnav a {
    float: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2b2b2b;
}
