html {
    scroll-behavior: smooth;
}

body {
    background-color: #111111;
    color: #f2f2f2;
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 6px;
}

footer {

}

a {
    color:#f2f2f2;
}

i {
    color:#f2f2f2;
    font-size: 2.5em;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #111111;
}

.home {
    background-color: #333;
    padding: 16px;
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.resume {
    background-color: #333;

}

.projects {
    padding: 1%;
}

.contact {
    background-color: #333;
}

.social a{
    display: inline-block;
    padding: 2%;
}

.topnav {
    overflow: hidden;
    align-items: center;
    padding: 0;
}

.topnav a {
    float: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2b2b2b;
}
